.DS_Store
**/artifacts/
node_modules/
typechain-types/
package-lock.json
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
